#form-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.form {
    padding: 40px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.form-row {
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;
}

.form-cell {
    height: 100%;
    margin: 0;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
}

.form-input {
    width: 100%;
    height: 25px;
    outline: none;
    box-sizing: border-box;
    padding: 0 4px;
    margin: 0;
    border: none;
    border-bottom: solid 1px #AAA;
    font-size: 11pt;
    color: #444;
    transition-duration: .1s;
}

.form-input:focus,
.form-input-active {
    border-bottom-color: #C0B283 !important;
    transition-duration: .1s !important;
}

.percentage-input {
    padding-right: 15px;
}

.form-input-label {
    position: absolute;
    pointer-events: none;
    color: #555;
    font-family: helvetica;
    font-size: 9pt;
    text-transform: uppercase;
    transform: translate(3px, 8px);
    -webkit-user-select: none;
    transition-duration: .1s;
}

.form-cell:focus-within .form-input-label,
.form-input-label-active {
    font-weight: bold;
    font-size: 7pt;
    color: #C0B283;
    transform: translate(0, -8px);
    transition-duration: .1s;
}

.percentage-symbol {
    position: absolute;
    transform: translate(-13px, 5px);
    font-family: times;
    font-size: 10pt;
    color: #C0B283;
    opacity: 0;
    transition-duration: .1s;
}

.form-cell:focus-within .percentage-symbol,
.percentage-symbol-active {
    opacity: 1;
    transition-duration: .1s;
}

.form-cell:focus-within .percentage-symbol,
.percentage-symbol-active {
    opacity: 1;
    transition-duration: .1s;
}

.add-button {
    width: 100%;
    height: 45px;
    border: solid 2px #C0B283;
    outline: none;
    background: none;
    font-family: helvetica;
    font-weight: 100;
    text-transform: uppercase;
    color: #C0B283;
    font-size: 11pt;
    box-sizing: border-box;
    cursor: pointer;
}

.add-button:active {
    background: #C0B283;
    color: white;
}

.list-container {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    border: solid 1px #b7b5af;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-items-container {
    width: 100%;
}