@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/material_font.woff2) format('woff2');
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#titlebar {	
    position: absolute;	
    top: 0;	
    left: 0;	
    width: 100%;	
    height: 30px;	
    -webkit-app-region: drag;	
    z-index: 0;	
}	

#sidebar {
    position: fixed;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#close, #build {
    position: fixed;
    z-index: 1;
    font-size: 23pt;
    color: #C0B283;
    padding: 10px;
    align-self: flex-start;
    cursor: pointer;
}

#build {
    left: 8px;
    bottom: 8px;
    border: 2px solid #C0B283;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    padding: 7px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    background: transparent;
}

#build:active {
    background: #C0B283;
    color: white;
}

#toggle-prompt {
    position: absolute;
    font-family: helvetica;
    font-size: 11pt;
    letter-spacing: .07em;
    color: white;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0A0A0A;
    z-index: 99;
}

.toggle-button {
    width: 250px;
    height: 60px;
    margin: 3px;
    background: none;
    border: solid 2px #C0B283;
    outline: none;
    color: #C0B283;
    font-size: 11pt;
    font-family: helvetica;
    font-weight: 200;
    text-transform: uppercase;
    cursor: pointer;
}

.toggle-button:active {
    color: black;
    font-weight: 400;
    background: #B8A35F;
}

.hidden {
    display: none !important;
}

.icon {
    font-family: 'Material Icons';
}

button {
    user-select: none;
}

button:focus {
    outline: #bba046 auto 2px;
}

.more-container {
    margin-bottom: 17px;
    line-height: 10px;
    user-select: none;
    cursor: pointer;
}

.more {
    font-family: "arial black";
    font-size: 13pt;
    letter-spacing: .1em;
    color: #ab8d29;
}
